[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
keras = "==2.2.2"
tensorflow = "==1.9.0"
jupyter = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.5"
